 body {
	font-family: sans-serif;
	background-image: url("bg.jpg")

}
ul {
	
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #E29FA4;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover {
  	background-color: #111;
}

.title {
	margin-top: 100px;
}
.title h1.name {
	font-family: Garamond;
	color: #E29FA4;
}
.title p{
	font-family: Courier New;
	font-size: 20px;
}
	
img {
	height: 300px;
	width: 400px;
}

